<h1>Lista de posts</h1>

{{#each posts}} 
<small>{{dataValues.createdAt}}</small>
<h1> {{dataValues.titulo}}</h1>
<p>{{dataValues.conteudo}}<h1>
    <a href="/deletar/{{dataValues.id}}"><button>deletar</button></a>
    
<hr>
{{/each}} 
